<!doctype html>
<html lang = "zh-CN">
<head>
    <meta charset="utf-8">
    <title>Bank Database</title>
</head>
<body>
<form action="">
    请选择城市:
    <select id = "sel_table">
        <option value="BJ - 北京">北京</option>
        <option value="SH - 上海">上海</option>
        <option value="NJ - 南京">南京</option>
        <option value="TJ - 天津">天津</option>
        <option value="HF - 合肥">合肥</option>
        <option value="WH - 武汉">武汉</option>
    </select>
</form>
<script type="text/javascript">
    var selected_table = document.getElementById('sel_table').value;
</script>
</body>
</html>